* {
  font-family: Garamond;
}

.baner {
  background-color: Tomato;
  color: white;
  text-align: center;
  width: 80%;
  height: 80px;
  float: left;
}

.glowny {
  width: 80%;
  height: 600px;
  float: left;
}
.boczny {
  background-color: Coral;
  width: 20%;
  height: 680px;
  float: right;
}
.stopka {
  background-color: tomato;
  color: white;
  text-align: center;
  clear: both;
}
img {
  border-radius: 50%;
  padding: 0 10px;
}
.chat {
  border: 1px solid Tomato;
  margin: 15px;
  height: 470px;
  overflow: scroll;
}

.message {
  border-radius: 5px;
  width: 90%;
  height: 70px;
  margin: 2%;
  padding: 3px;
}
.jolanta_message {
  background-color: #eee;
}
.jolanta_message > img {
  float: left;
}
.krzysztof_message {
  background-color: #ccc;
  text-align: right;
}
.krzysztof_message > img {
  float: right;
}

button {
  background-color: tomato;
  border: 1px solid darkred;
  padding: 5px;
  font-weight: bold;
}
input {
  width: 500px;
}
